*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --gradient-color-1: rgba(184,138,205,1);
    --gradient-color-2: rgba(3,169,244,1);
    --gradient-color-3: rgba(95,233,255,1);

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background: linear-gradient(342deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 74%, var(--gradient-color-3) 95%);
    font-family: 'Raleway', sans-serif;
    
}
.content {
    
    width: 100%;
    height: 100vh;
    padding: 4rem 2rem;

    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr 4fr;
}

.search {
    display: flex;
    padding: 2rem;
}

.logo-box {

}

.locations {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.weather {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.credits {
    grid-row: ;
    grid-column: 1 / -1;
}