*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --gradient-color-1: rgba(184,138,205,1);
    --gradient-color-2: rgba(3,169,244,1);
    --gradient-color-3: rgba(95,233,255,1);
    --color-white: #fff;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background: linear-gradient(342deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 74%, var(--gradient-color-3) 95%);
    font-family: 'Raleway', sans-serif;
    
}
.content {
    width: 100%;
    height: 100vh;
    padding: 4rem 2rem;

    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr 4fr;
}

.search {
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: flex-end;
}

.search__field {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 1rem 1.5rem;
    background-color: transparent;
    color: var(--color-white);
    margin-right: 1rem;
    border: 2px solid var(--color-white);
    border-radius: .5rem;
    text-transform: capitalize;
    transition: all .2s;
}

.search__field:focus {
    outline: none;
    background-color: var(--color-white);
    color: var(--gradient-color-3);
}

.search__field::placeholder {
    color: var(--color-white);
}

.search__btn {
    padding: .8rem 1rem;
    border: 2px solid var(--color-white);
    background-color: transparent;
    border-radius: .5rem;
    transition: all .2s;
}

.search__btn:hover,
.search__btn:active,
.search__btn:focus {
    outline: none;
    background-color: var(--color-white);
}

.search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-white);
    transition: all .2s;
}

.search__btn:focus .search__icon {
    fill: var(--gradient-color-3);
}

.search__btn:hover .search__icon {
    fill: var(--gradient-color-3);
}

.logo-box {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.logo {
    width: 40%;
    margin-bottom: 2rem;
    margin-left: 30rem;
}

.locations {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    padding: 2rem;
    justify-content: center;
    font-size: 1.6rem;
    height: 60rem;
}

.locations__list {
    background-color: transparent;
    border: 2px solid var(--color-white);
    border-radius: .5rem;
    list-style: none;
    width: 80%;  
    overflow: scroll;
}

.locations__item {
    /*background-color: var(--color-white);*/
    border-bottom: 2px solid var(--color-white);
}

.locations__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1.5rem;
    transition: all .2s;
}

.locations__link:link,
.locations__link:visited {
    color: var(--color-white);
    text-decoration: none;
}

.locations__link:hover,
.locations__link:active {
    background-color: var(--color-white);
    color: var(--gradient-color-3);
    
}

.locations__result--left {
    margin-right: 1.5rem;
}

.locations__icon {
    height: 3rem;
    width: 3rem;
    fill: var(--color-white);
    transition: all .2s;
}

.locations__link:hover .locations__icon{
    fill: var(--gradient-color-3);
}

.locations__name {
    display: inline-block;
    font-weight: 600;
    margin-right: .5rem;
    transition: all .2s;
}

.locations__name:hover {
    transform: scale(1.1);
}


.weather {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    padding: 3rem;
}

.weather__item {
    
    display: flex;
    position: relative;
    flex-direction: column;
    height: 50rem;
    width: 25rem;
    min-width: 20rem;
    padding: 1.5rem;
    color: var(--color-white);

    border-radius: 1rem;

    border: 2px solid var(--color-white);
    background: linear-gradient(142deg, rgba(27,138,227,1) 0%, rgba(33,150,243,1) 76%, rgba(4,161,232,1) 100%);
    /*box-shadow: -1rem 0 1.5rem #0c7cd6; */
    transition: .2s;
}

.weather__item:hover {
    transform: translateY(-1.5rem);
    box-shadow: -1rem .5rem 1.5rem #0c85e6;
}

.weather__item:hover~.weather__item {
    transform: translateX(5rem)
}

.weather__item:not(:first-child) {
    margin-left: -5rem;
}

.weather__date {
    font-size: 1.6rem;
    font-weight: 100;
    margin-bottom: 2rem
}

.weather__day {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.weather__temperature {
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 1rem;
}

.weather__description {
    font-size: 1.2rem;
    font-weight: 200;
}

.weather__umbrella {
    align-self: center;
    margin-top: 6rem;
    opacity: 0;
    font-size: 1.2rem; 
}

.weather__item:hover .weather__umbrella {
    opacity: 1;
    transition: all .3s ease-in;
}

.credits {
    grid-row: ;
    grid-column: 1 / -1;
}